################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning/v16/TestStore/0/000.testlog
/.vs/Learning/v16/TestStore/0/testlog.manifest
/.vs/Learning/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
